{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "jest"
  ],
  "env": {
    "jest/globals": true
  },
  "globals": {
    "document": true,
    "WebSocket": true
  },
  "rules": {
    "react/jsx-filename-extension": 0,
    "no-param-reassign": 0,
    "react/jsx-one-expression-per-line": 0,
    "import/no-named-as-default": 0
  }
}